# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# VS Code
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log